.account-manage .item .info .txt
{
	line-height: 27px;
}
.account-manage .ui-ml-40
{
	float: right;
}
.account-manage .item .info .btn-extend
{
	height: auto;
	clear: left;
	display: block;
	font-size: 14px;
	line-height: 1.25;
	padding: 10px;
	text-transform: capitalize;
}