.pub-v-feedback
{
	margin-bottom: 15px;
}
.pub-f-table .package 
{
	width: 110px;
	margin-left: 18px;
}
.pub-f-table .price
{
	width: 120px;
}
.pub-f-table .max-users 
{
	width: 120px;
}
.pub-f-table .max-profile 
{
	width: 120px;
}
.pub-f-table .price-method 
{
	width: 180px;
}
