.pop-extend-plan
{
	margin-top: -300px;
}
.pop-extend-plan .reply-cont
{
	padding-left: 0;
}
.pop-extend-plan .pop-cont h4
{
	margin-bottom: 10px;
}
.screen-pic
{
	margin-bottom: 10px;
}
.ch-tit
{
	margin-bottom: 10px;
	font-weight: 700;
}
.pck-size, .pck-user
{
	font-size: 12px;
	display: inline-block;
}
.pck-size
{
	width: 110px;
	text-align: right;
	line-height: 2;
}
.pck-user
{
	margin-left: 10px;
}